CONFIG_SND_SOC_SOF_HDA_LINK=n
#CONFIG_SND_SOC_SOF_NOCODEC will be obsolete when NOCODEC_CLIENT is merged
CONFIG_SND_SOC_SOF_NOCODEC=m
CONFIG_SND_SOC_SOF_NOCODEC_SUPPORT=y
CONFIG_SND_SOC_SOF_FORCE_NOCODEC_MODE=y
CONFIG_SND_SOC_SOF_NOCODEC_CLIENT=m
